language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install poetry

script:
  - poetry install
  - pip install coverage python-coveralls
  - poetry run coverage run -m pytest
  - poetry run pre-commit run --all-files

after_success:
  - poetry run coveralls

cache:
  directories:
    - $HOME/.cache/pre-commit
