[tool.poetry]
name = "flickr-download"
version = "0.3.1"
description = "Download photos from Flickr"
authors = ["Allan Beaufour <allan@beaufour.dk>"]
readme = "README.md"
license = "Apache-2.0"
packages = [{ include = "flickr_download" }]
repository = "https://github.com/beaufour/flickr-download"

[tool.poetry.scripts]
flickr_download = "flickr_download.flick_download:main"

[tool.poetry.dependencies]
python = "^3.7"
flickr-api = "^0.7.4"
python-dateutil = "2.8.1"
PyYAML = "^5.3"
pathvalidate = "^2.5.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
flake8 = "^4.0.1"
black = "^22.8.0"
pre-commit = "^2.20.0"
attrdict = "2.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
target-version = ['py37']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''
